*{
margin: 0;
padding: 0;
font-family: sans-serif;
}

.container{
    display: flex;
    height: 100vh;
}

.menu-block,
.orders-block{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.menu-block{
    background-color:#DD7F80;
}
.orders-block{
    background: #009AA2;
}

.food-card{
    display: flex;
    width: 210px;
    border: 1px solid;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color:#FF6D68;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 10px 30px rgba(14, 13, 13, 0.829);
}
.food-img{
    width: 90px;
    
}

#menu-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 10px;

}

.food-card:hover{
    box-shadow: 0 20px 30px rgb(0 0 0/ 90%);
    
    transform: translateY(3px);
    
}


/* * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.menu-block,
.orders-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.menu-block {
    background-color: #DD7F80;
}

.orders-block {
    background: #009AA2;
}

.food-card {
    display: flex;
    width: 210px;
    border: 1px solid;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #FF6D68;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 0 10px 30px rgba(14, 13, 13, 0.7);
    transition: box-shadow 0.3s ease-in-out;
}

.food-card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
}

.food-img {
    width: 80px;
}

#menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0 10px;
} */
